#naqPlayerWrapper {
  width:100%;
  display: flex;
  justify-content: center;
  
}

#naqPlayerMain {
  display:flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px;
  max-width: 600px;
}

#naqPlayerPlay {
  cursor: pointer;
  height:60px;
  padding-right: 10px;
}

#naqVolumeControls {
  display:flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10px 0px 10px;
}

#increase, #decrease {
  width: 29.23px;
  height: 29.23px;
  text-align: center;
  font-size: 30px;
  cursor: pointer;
  line-height: 25px;
  font-weight: bold;
}

#naqPlayerMute {
  width: 40px;
  margin-top: 10px;
  cursor: pointer;
}

#showVolume {
  font-family: arial;
  cursor: context-menu;
}

#increase, #decrease, #naqPlayerMute, #showVolume {
  margin-left: 5px;
  margin-right: 5px;
}

#showVolume {
white-space: pre;
}

#animation {
padding-left: 10px;
}
