#naqPlayerWrapper {
  width:100%;
  display: flex;
  justify-content: center;
}

#naqPlayerMain {
  display:flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px;
  max-width: 600px;
}

#naqPlayerPlay {
  cursor: pointer;
  height:60px;
  padding-right: 10px;
}

/* .playImage {
  width:50px;
} */

#naqVolumeControls {
  display:flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

#increase, #decrease {
  width: 29.23px;
  height: 29.23px;
  text-align: center;
  font-size: 30px;
  cursor: pointer;
  color: #000000;
  line-height: 25px;
}

#naqPlayerMute {
  width: 40px;
  margin-top: 10px;
  cursor: pointer;
}

#showVolume {
  color: #ff5e57;
  font-family: arial;
  cursor: context-menu;
}

#increase, #decrease, #naqPlayerMute, #showVolume {
  margin-left: 5px;
  margin-right: 5px;
}

#naqPlayerLoading {
  color: #ff5e57;
}

#animation {
width: 60px;
height: 60px;
padding-left: 10px;
}
